@page "/list"
@using System.Collections.Generic

<table class="table">
    <thead>
        <tr>
            <th>Player ID</th>
            <th>Player Name</th>
            <th>Level</th>
            <th>Job</th>
            <th>Class</th>
            <th>Guild</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Players)
        {
            <tr>
                <td>@player.PlayerId</td>
                <td>@player.PlayerName</td>
                <td>@player.Level</td>
                <td>@player.Job</td>
                <td>@player.Class</td>
                <td>@player.Guild</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<Player> Players { get; set; } = new List<Player>();

    public class Player
    {
        public int PlayerId { get; set; }
        public string PlayerName { get; set; }
        public string Level { get; set; }
        public string Job { get; set; }
        public string Class { get; set; }
        public string Guild { get; set; }
    }
}