@page "/About"

<style>
    body {
        background: #123654
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #123789;
    }

    .profile-button {
        background: #129999;
        box-shadow: none;
        border: none
    }

        .profile-button:hover {
            background: #123556;
        }

        .profile-button:focus {
            background: #129999;
            box-shadow: none
        }

        .profile-button:active {
            background: #129999;
            box-shadow: none
        }

    .back:hover {
        color: #129999;
        cursor: pointer
    }

    .labels {
        font-size: 12px
    }

    .add-experience:hover {
        background: #123789;
        color: #fff;
        cursor: pointer;
        border: solid 1px #123789
    }
</style>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" style="width: 300px" src="/Photos/Link.jpg">
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><span class="form-control">@FName</span></div>
                    <div class="col-md-6"><label class="labels">Middle Name</label><span class="form-control">@MName</span></div>
                    <div class="col-md-6"><label class="labels">Last Name</label><span class="form-control">@LName</span></div>
                    <div class="col-md-6"><label class="labels">Number</label><span class="form-control">@Number</span></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Email</label><span class="form-control">@Email</span></div>
                    <div class="col-md-12"><label class="labels">Address</label><span class="form-control">@Address</span></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="col-md-12"><label class="labels">Words to live By</label><span class="form-control">@Moto</span></div>
            </div>
        </div>
    </div>
</div>

@code {
    string FName = "Marc Kenneth";
    string LName = "Calunsag";
    string MName = "Intes";
    string Email = "zekken0512@gmail.com";
    string Number = "0970360****";
    string Address = "Purok Orchids, Kimagango, Midsayap Cotabato";
    string Moto = "Life's not fair, so don't expect it to be. Life don't alway goes so well, but know that it wishes you well, so don't waste time wishing it would change. Don't get down even if you fail because what is life without an L, so come what may your mood should stay the same.";
}
