@* @using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Dapper
@using System.Data.SqlClient
@using CalunsagBlazorApp.Data
@model CalunsagBlazorApp.Pages.TestPage



<h3>TestComp</h3>




<form method="post" asp-page-handler="Create">
    <div class="form-group">
        <label>CJId: </label>
        <input type="text" name="CJId_input" class="form-control" value="@Model.CJId_input" />
    </div>

    <div class="form-group">
        <label>CJMemberName: </label>
        <input type="text" name="CJMemberName_input" class="form-control" value="@Model.CJMemberName_input" />
    </div>

    <div class="form-group">
        <label>CJContact_input: </label>
        <input type="text" name="CJContact_input" class="form-control" value="@Model.CJContact_input" />
    </div>
    <button type="submit" formmethod="post">Create</button>
    <button type="submit" formmethod="post" asp-page-handler="Update">Update</button>
</form>

<p></p>

<form id="student-search-form" method="post" asp-page-handler="Search">
    <label>Search</label>
    <input type="text" name="s_input">
    <button type="submit">Search</button>
    <button formmethod="post" asp-page-handler="Display" type="submit">Display</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>CJId</th>
            <th>CJMemberName</th>
            <th>CJContact_input</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model.list)
        {
            <tr>
                <td>@a.s1</td>
                <td>@a.s2</td>
                <td>@a.s3</td>
                <td>@a.s4</td>
                <td>@a.s5</td>
                <td>
                    <form method="post" asp-page-handler="Edit">
                        <input name="CJId_input2" type="hidden" value="@a.s1" />
                        <input name="CJMemberName_input2" type="hidden" value="@a.s2" />
                        <input name="CJContact_input2" type="hidden" value="@a.s3" />
                        <button type="submit">Edit</button>
                    </form>
                </td>
                <td>
                    <form method="post" asp-page-handler="Delete">
                        <input name="CJId_input" type="hidden" value="@a.s1" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    using Microsoft.AspNetCore.Mvc
    using Microsoft.AspNetCore.Mvc.RazorPages
    using Dapper
    using System.Data.SqlClient
    using CalunsagBlazorApp.Data

 namespace CalunsagBlazorApp.Pages 
 {
    public class TestPage : PageModel
    {
        private readonly ILogger<TestPage> _logger;
        private readonly IConfiguration _config;
        public IEnumerable<TestClass> list { get; set; }

        [BindProperty]
        public string CJId_input { get; set; }
        [BindProperty]
        public string CJMemberName_input { get; set; }
        [BindProperty]
        public string CJContact_input { get; set; }
        [BindProperty]
        public string CJId_input2 { get; set; }
        [BindProperty]
        public string CJMemberName_input2 { get; set; }
        [BindProperty]
        public string CJContact_input2 { get; set; }
        [BindProperty]
        public string s_input { get; set; }
        public TestPage(ILogger<TestPage> logger, IConfiguration config)
        {
            _logger = logger;
            _config = config;

            var con = new SqlConnection(_config.GetConnectionString("db"));
            list = con.Query<TestClass>("[displayProf]", commandType: CommandType.StoredProcedure);
        }

        public IActionResult OnPostCreate()
        {
            var con = new SqlConnection(_config.GetConnectionString("db"));
            var asdd = con.Query("[createProf]",
               new
               {
                   @FirstName = FirstName,
                   @LastName = LastName,
                   @Age = Age,
                   @Lvl = Lvl

               }, commandType: CommandType.StoredProcedure);

            return Page();
        }

        public IActionResult OnPostUpdate()
        {
            var con = new SqlConnection(_config.GetConnectionString("CJDB"));
            var asdd = con.Query("update [dbo].[CJMembers] set [CJMemberName] = isnull (@CJMemberName,[CJMemberName]), [CJContact] = isnull (@CJContact,[CJContact]) where [CJId] = @CJId",
                new
                {
                    @CJId = CJId_input,
                    @CJMemberName = CJMemberName_input,
                    @CJContact = CJContact_input
                });

            return RedirectToPage();
        }
        public IActionResult OnPostEdit()
        {
            CJId_input = CJId_input2;
            CJMemberName_input = CJMemberName_input2;
            CJContact_input = CJContact_input2;

            return Page();
        }

        public IActionResult OnPostDelete()
        {
            var con = new SqlConnection(_config.GetConnectionString("CJDB"));
            var asdd = con.Query("delete from [dbo].[CJMembers] where [CJId] = @CJId",
                new
                {
                    @CJId = CJId_input
                });

            return RedirectToPage();
        }
        public IActionResult OnPostSearch()
        {
            var con = new SqlConnection(_config.GetConnectionString("CJDB"));
            list = con.Query<TestClass>("select [CJId] as s1, [CJMemberName] as s2, [CJContact] as s3 FROM [dbo].[CJMembers] WHERE [CJId] LIKE '%' + @Keyword + '%' OR [CJMemberName] LIKE '%' + @Keyword + '%' OR [CJContact] LIKE '%' + @Keyword + '%' ORDER BY [CJMemberName];",
            new
            {
                @Keyword = s_input
            });

            return Page();
        }

        public IActionResult OnPostDisplay()
        {
            var con = new SqlConnection(_config.GetConnectionString("CJDB"));
            list = con.Query<TestClass>("select [CJId] as s1, [CJMemberName] as s2, [CJContact] as s3 from [dbo].[CJMembers]");

            return Page();
        }
    }
}
}
 *@