@page
@model WebApplication1.Pages.UserModel
@{
}

<h2 class="text-center">Welcome to your account</h2>

<div>
    First Name: @Model.appUser?.FirstName
</div>

<div>
    Last Name: @Model.appUser?.LastName
</div>

<div>
    Phone: @Model.appUser?.PhoneNumber
</div>

<div>
    Address: @Model.appUser?.Address
</div>

<div>
    Created At: @Model.appUser?.CreatedAt.ToString("MM/dd/yyyy")
</div>



<div>
    <table class="table">
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Action</th>
        </thead>
        <tbody>
            <td>@Model.appUser?.FirstName</td>
            <td>@Model.appUser?.LastName</td>
            <td>@Model.appUser?.PhoneNumber</td>
            <td>@Model.appUser?.Address</td>
            <td><button>Edit</button></td>
        </tbody>
    </table>
</div>
