@page
@model WebApplication1.Pages.UserProfileModel
@{

  <table class="table">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var userRole in Model.UserRoles)
            {
                    <tr>
                        <td>@userRole.LastName</td>
                        <td>@userRole.FirstName</td>
                        <td>
                    <form method="post" asp-page-handler="UpdateRole">
                        <select class="form-select" name="Role" onchange="this.form.submit()">
                            <!option value="admin" @(userRole.Role == "admin" ? "selected" : "")>Admin</!option>
                            <!option value="client" @(userRole.Role == "client" ? "selected" : "")>Client</!option>
                        </select>
                        <input type="hidden" name="UserId" value="@userRole.Id" />
                    </form>
                </td>
                   </tr>
            }
    </tbody>
  </table>


}
